<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: 'Arial', sans-serif; background-color: #f7f9fc; margin: 0; padding: 0; text-align: center;">
<div style="background-color: #ffffff; padding: 40px; border-radius: 15px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); display: inline-block; max-width: 400px; width: 100%; margin: 20px auto;">
    <h1 style="color: #333333; font-size: 1.8em; margin-bottom: 10px;">안녕하세요. ConnectDog🐾입니다.</h1>
    <p style="color: #666666; margin-bottom: 20px;">아래 코드를 회원가입 창으로 돌아가 입력해 주세요.</p>
    <div style="border: 2px solid #007bff; border-radius: 10px; padding: 25px; font-size: 1.2em; color: #007bff; background-color: #e9f5ff;">
        <h3 style="color: #007bff; margin-bottom: 15px; font-size: 1.2em; text-align: center;">회원가입 인증 코드입니다.</h3>
        <div style="font-size: 1.8em; font-weight: bold; text-align: center;" th:text="${code}"></div>
    </div>
</div>
</body>
</html>
